html, body {
    margin: 0;
    padding: 0;
    background: ghostwhite
}

.container {  
    height: 100vh;
    width: 100vw; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "eye-drop button1 menu menu button2"
      "color1 color2 color3 color4 color5"
      "color1-name color2-name color3-name color4-name color5-name";
  }
  
  .eye-drop { 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    grid-area: eye-drop; }

#eye-dropper {
  border: none;
  background-color: ghostwhite;
    cursor: pointer; 
    height: 40%;
    width: 80%;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

}
  


#root-color-name{
  background: ghostwhite; 
  padding: 5px;
  text-align: center;
  font-weight: bold; 
  height: 20%;
  width: 80%;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;  
  border: none;
}


  .menu { 
    grid-area: menu; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#mode-menu{
    border: none;
    border-radius: 5px;
    background: black;
    color: cyan; 
    cursor: pointer;
    width: 90%;
    height: 60%;
    text-align: center;
    font-size: 1.8em;
}


button {
  background: black;
  color: cyan; 
  width: 80%;
  height: 60%; 
  border-radius: 5px;
  border: none;
  font-size: 1.4em;
}

button:hover, #mode-menu:hover, .eye-drop:hover{
  opacity: 0.4
}

.button-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
  


  #get-color-button{
    grid-area: button2;
    cursor: pointer;
    font-weight: bold;
  }

  #randomize-button{
    grid-area: button2;
    cursor: pointer;
    font-weight: bold;
  }
  
  #color1 { 
    grid-area: color1; 
}
  
#color2 { 
    grid-area: color2; 
}

#color3 { 
    grid-area: color3; 
}

#color4 { 
    grid-area: color4; 
}

#color5 { 
    grid-area: color5; 
}

.color-area{
    cursor: copy;
    margin: 0 10% 0 10%;
    border-radius: 5px;
}



span {
  padding: 5px;
  border-radius: 5px;
}


  #color1-name { grid-area: color1-name; }
  
  #color2-name { grid-area: color2-name; }
  
  #color3-name { grid-area: color3-name; }
  
  #color4-name { grid-area: color4-name; }
  
  #color5-name { grid-area: color5-name; }
  
  .color-name{
    text-align: center;
    cursor: copy;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
  }


  @media only screen and (max-width: 760px) {
    button {
      font-size: 1em
    }
    .color-name {
      font-size: 1.4em
    }

    #mode-menu {
      font-size:  1.4em
    }

  }